#one {
    color: #ff0000;
    background: #000;
}

#two{
    color: rgb(10, 190, 57);
    background: #f15025
}

#three {
    color: #fff;
    background: #00ff00
}

#four {
    color: #0000ff;
    background: #f230ad
}

