/* font-family abel */

@font-face {
    font-family: abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}

/* font family big */
@font-face {
    font-family: big;
    src: url(../fonts/Big_Shoulders_Display/BigShouldersDisplay-Regular.ttf);
}

/* font family montserrat */
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

/* font-family gothic */
@font-face {
    font-family: gothic;
    src: url(../fonts/Nanum_Gothic/NanumGothic-Regular.ttf);
}